.pillNavigation {
	position: sticky;
	top: 0;
	background: #fff;
	display: flex;
	gap: 28px;
	padding-left: 32px;
	border-bottom: 1px solid #e8e8e8;

	.pillItem {
		display: flex;
		gap: 10px;
		align-items: center;
		line-height: 38px;
		font-size: 14px;
		font-weight: 500;
		cursor: pointer;
		user-select: none;
		border-top: 2px solid #fff;
		border-bottom: 2px solid #fff;

		&:hover {
			color: #e41f13;
		}

		&.isActive {
			color: #e41f13;
			border-bottom: 2px solid #e41f13;

			.pillCount {
				color: #fff;
				background: #e41f13;
			}
		}

		.pillCount {
			background: #e8e8e8;
			color: rgba(0, 0, 0, 0.4);
			border-radius: 4px;
			padding: 0 5px;
			height: 18px;
			display: flex;
			justify-content: center;
			align-items: center;
			font-size: 10px;
		}
	}
}

.tableContainer {
	margin: 16px;
	background: #fff;
	border-radius: 12px;
	border: 1px solid #e8e8e8;
	overflow: hidden;

	table {
		width: 100%;
		border-collapse: collapse;

		thead {
			background: #f9fafc;

			th {
				text-align: left;
				font-size: 14px;
				font-weight: 500;

				.header {
					width: fit-content;
					display: flex;
					gap: 8px;
					align-items: center;
					cursor: pointer;
					padding: 5px 12px;
					margin: 5px 2px;
					border-radius: 4px;

					&:hover {
						background: darken(#f9fafc, 2%);
					}

					img {
						height: 14px;
					}
				}
			}
		}

		tbody {
			tr {
				border-bottom: 1px solid #e8e8e8;

				td {
					padding: 16px 16px;
					font-size: 15px;
					font-weight: 400;
					color: #000;
					border-bottom: 1px solid #e8e8e8;
				}
			}
		}
	}
}
