.container {
	position: relative;
	background: #fff;
	border-right: 1px solid #e8e8e8;
	display: flex;
	flex-direction: column;

	.logo {
		display: flex;
		justify-content: center;
		flex-direction: column;
		padding: 26px 20px 64px 32px;

		img {
			width: 100%;
		}
	}

	.user {
		margin-top: auto;
	}

	small {
		display: block;
		font-size: 11px;
		font-weight: 600;
		opacity: 0.4;
		padding: 0 22px 16px;
		text-align: right;
	}
}
