.container {
	flex: 0 0;
	position: relative;
	z-index: 2;
	background: #fff;
	display: flex;
	align-items: center;
	border-bottom: 2px solid #e8e8e8;

	.logo {
		display: flex;
		justify-content: center;
		flex-direction: column;
		padding: 6px 0 6px 10px;
		height: 40px;

		img {
			height: 100%;
		}
	}

	.linksColumn {
		display: flex;
		gap: 6px;
		padding: 0 10px;

		.link {
			font-size: 13px;
			text-decoration: none;
			color: #000;
			padding: 13px 20px 10px;
			border-radius: 4px;
			border-bottom: 2px solid #fff;
			display: block;
			opacity: 0.65;

			&:hover {
				opacity: 1;
				border-bottom: 2px solid #f2f2f2;
			}

			&.isActive {
				opacity: 1;
				border-bottom: 2px solid #000;
			}
		}
	}

	small {
		display: block;
		font-size: 10px;
		font-weight: 600;
		opacity: 0.4;
		padding: 0 22px 16px;
		text-align: right;
	}
}
