.container {
	position: relative;
	background: #fff;
	border-bottom: 1px solid #e8e8e8;
	height: 65px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding-left: 32px;

	h1 {
		font-size: 24px;
		font-weight: 700;
	}
}
